<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Password Reset</title>
    <script src="../assets/js/jquery-1.11.0.min.js"></script>
    <!-- Custom Theme files -->
    <link href="../assets/styles/style.css" rel="stylesheet" type="text/css" media="all"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--google fonts-->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <!--close effect -->
    <script>$(document).ready(function (c) {
            $('.log-close').on('click', function (c) {
                $('.login-bottom').fadeOut('slow', function (c) {
                    $('.login-bottom').remove();
                });
            });
        });
    </script>
</head>
<body>
<h1>Reset your Password</h1>

<div class="login">
    <div class="rib"></div>
    <h2>Password</h2>

    <form method="POST" action="/users/resetPassword">
        <h2>Password Changed Successfully.</h2>
    </form>
</div>
</body>
</html>


